<% if !user_signed_in? %>
  <div class="jumbotron">
    <h1>SakeDict. 日本酒辞典</h1>
    <p>日本酒の情報共有サイトです。銘柄追加、レビュー投稿できます！</p>
    <p><%= link_to "アカウントを作成する", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
  </div>
<% end %>

<div class="row">
  <h1>日本酒一覧</h1>
  <% @sakes.each do |sake| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
	<%= link_to (image_tag sake.image.url(:medium), dlass: 'image'), sake %>
  <div class="sake-name">
  <%= sake.name %>
  </div>
      </div>
    </div>
  <% end %>
</div>
