<% if !user_signed_in? %>
  <div class="jumbotron">
    <h1>Sakennect 日本酒でつながろう!</h1>
    <p>日本酒の銘柄をレビューしあいましょう！一緒に呑み友をつくりませんか？</p>
    <p><%= link_to "アカウントを作成する", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
  </div>
<% end %>

<div class="row">
  <% @sakes.each do |sake| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
	<%= link_to (image_tag sake.image.url(:medium), dlass: 'image'), sake %>
      </div>
    </div>
  <% end %>
</div>
