@import "bootstrap-sprockets";
@import "bootstrap";

body {
  //background: #42691E;

  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  /* color: #505050; */
  color: #000;
}

.review_title {
  margin: 0 0 20px 0;
}

.reviews {
  padding: 15px 0;
  border-bottom: 1px solid #EAEAEA;
  .star-rating {
    padding-bottom: 8px;
}
}

